body {
    background-color: #e1e8e1;
    font-family: "Space Grotesk", serif;
    font-optical-sizing: auto;
    margin: 0;
}
#title{
    scroll-margin-top: 100rem; 
}
section {
    scroll-margin-top: 8rem; 
}

/* Navigation Bar */
.navbar {
    position: fixed;
    top: 3rem;
    left: 50%;
    transform: translateX(-50%); 
    max-width: 600px;
    margin: 0;
    padding: 20px;
    background-color: #6EACDA; 
    border-radius: 100px;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}
.nav-list {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0;
    padding: 0;
}
.nav-list a {
    color: #3d3d3d;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 18px;
    font-weight: 400;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}
.nav-list a:hover {
    background-color: #e1e8e1;
    color: #03346E;
}

/* Title Section */
#title {
    scroll-margin-top: 100rem; 
    padding: 20px;
    text-align: center;
}

.title-content {
    min-height: 65vh;
    margin: 50px auto;
    margin-top: 17%;
    max-width: 80%;
    padding: 20px;
}

.title-content > h1 {
    color: #03346E;
    letter-spacing: 1.25rem;
    font-size: 8rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 3rem;
    padding: 0 20px;
    word-break: break-word;
}
.title-content > p{
    color: #3d3d3d;
    letter-spacing: 0.2rem;
    font-size: 1.5rem;
    text-align: center;
    font-weight: 600;
}
.title-content > p > span{
    color: #6EACDA;
}
.social-icons{
    display: flex;
    justify-content: center;
    padding: 3rem;
    gap: 2rem;
}

/*About me */
h1{
    color: #03346E;
    letter-spacing: 0.1rem;
    font-size: 3rem;
    text-align: left;
    font-weight: 700;
    margin-bottom: 1.5rem;
    margin-top: 0;
}
span{
    color: #6EACDA;
}
.container{
    max-width: 60%;
    margin: 50px auto;
    padding: 20px;
}
p{
    color: #3d3d3d;
    font-size: 1.6rem;
    letter-spacing: 0.05rem;
    word-spacing: 0.2rem;
    font-weight: 450;
}
.flex-icons{
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    align-items: center;

    background-color: #6EACDA;
    color: #e1e8e1;
    background-origin: border-box; 
    border-radius: 20px;
    border: 1px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}
.icon-container-flexbox{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
h2{
    color: #03346E;
    letter-spacing: 0.075rem;
    font-size: 2.25rem;
    text-align: left;
    font-weight: 700;
    margin-bottom: 1.5rem;
    margin-top: 0;
}

/* Tech */
#tech > .container{
    margin-bottom: 10rem;
}

/* Projects */
.cards {
    display: grid;
    gap: 20px; 
    grid-template-columns: repeat(3, 1fr); 
    grid-template-rows: auto;
    align-items: start;
}

.card {
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: white;
    transition: transform 0.3s ease; 
    height: 100%;
}

.card:hover {
    transform: translateY(-10px); 
}

.card-img-top {
    width: 100%;
    height: 300px;
    object-fit: cover; 
}

.card-body {
    padding: 20px;
}

.card-body h2 {
    font-size: 1.75rem;
    color: #03346E;
    margin-bottom: 10px;
}

.card-body p {
    font-size: 1rem;
    color: #3d3d3d;
    margin-bottom: 10px;
}

.card-body .tag {
    background-color: #6EACDA;
    color: #3d3d3d;
    border-radius: 50px;
    padding: 5px 15px;
    font-size: 0.9rem;
    display: inline-block;
}

/* Contact */
a{
    text-decoration: none;
}
.flex-contact{
    display: flex;
    flex-direction: column;
}
.flex-contact-icons{
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: start;
    align-items: center;
    gap: 10px;
}
.flex-contact-icons > p{
    font-size: 1.5rem;
}

/* Footer */
.footer-placeholder{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-sizing: border-box;
    max-width: 100%;
    background-color: white;
}
.main-footer{
    max-width: 75%;
    margin: 50px auto;
    margin-bottom: 0;
    padding: 20px;
    padding-bottom: 2rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20rem;
}
.main-footer > p{
    font-size: 1rem;
}

@media only screen and (min-width: 2560px) {
    .title-content {
        min-height: 75vh;
    }
}

@media (max-width: 1024px) {
    .title-content {
        min-height: 70vh;
        margin-top: 14rem;
    }
    .card-body h2 {
        font-size: 1.25rem;
        color: #03346E;
        margin-bottom: 10px;
    }
    .card-body p {
        font-size: 1rem;
        color: #3d3d3d;
        margin-bottom: 10px;
    }
    .title-content > h1 {
        font-size: 6rem;
        letter-spacing: 0.75rem;
        display: block;
    }
    .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    /* Footer */
    .main-footer {
        max-width: 100%;
        margin: 50px auto 0;
        padding: 20px 20px 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 9rem;
    }
}

@media (max-width: 768px) {
    .title-content {
        min-height: 70vh;
        margin-top: 15rem;
    }
    .cards {
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        align-items: start;
    }
    .title-content > h1 {
        font-size: 4rem;
        letter-spacing: 0.5rem;
        display: block;
    }
    .main-footer {
        gap: 10rem;
    }
    .footer-placeholder {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-sizing: border-box;
        max-width: 100%;
        background-color: white;
    }
    .main-footer > p {
        font-size: 0.75rem;
    }
    .phone-footer-icons {
        height: 50px;
    }
    .flex-contact {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .flex-contact-icons {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        gap: 10px;
    }
    .flex-contact-icons > p {
        font-size: 1.25rem;
    }
}

@media (max-width: 500px) {
    .navbar {
        position: fixed;
        top: 0rem;
        left: 50%;
        max-width: 600px;
        margin: 0;
        padding: 20px;
        background-color: #6EACDA;
        border-radius: 0px;
        z-index: 1000;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    .nav-list {
        list-style: none;
        display: flex;
        gap: 20px;
        margin: 0;
        padding: 0;
    }
    .nav-list a {
        color: #3d3d3d;
        text-decoration: none;
        padding: 10px 15px;
        font-size: 20px;
        font-weight: 400;
        border-radius: 4px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    .title-content {
        min-height: 70vh;
        margin-top: 14rem;
    }
    .footer-placeholder {
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        box-sizing: border-box;
        max-width: 100%;
        background-color: white;
    }
    .main-footer > p {
        font-size: 0.75rem;
    }
    .main-footer{
        gap: 4rem;
    }
    .phone-footer-icons {
        height: 50px;
    }
    .flex-contact {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .flex-contact-icons {
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: start;
        align-items: center;
        gap: 10px;
    }
    .flex-contact-icons > p {
        font-size: 1.25rem;
    }
    
}

@media (max-width: 425px) {
    .navbar {
        position: fixed;
        top: 0rem;
        left: 50%;
        max-width: 600px;
        margin: 0;
        padding: 20px;
        background-color: #6EACDA;
        border-radius: 0px;
        z-index: 1000;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        text-align: center;
    }
    .nav-list {
        list-style: none;
        display: flex;
        gap: 20px;
        margin: 0;
        padding: 0;
    }
    .nav-list a {
        color: #3d3d3d;
        text-decoration: none;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: 400;
        border-radius: 4px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    .title-content {
        min-height: 70vh;
        margin-top: 14rem;
    }
    .title-content > h1 {
        font-size: 4rem;
        letter-spacing: 0.5rem;
    }
    .title-content > p {
        padding: 0;
        letter-spacing: 0.1rem;
        font-size: 1rem;
        text-align: center;
        font-weight: 600;
        width: 100%;
    }
    .container {
        max-width: 75%;
        margin: 25px auto;
        padding: 20px;
    }
    p {
        color: #3d3d3d;
        font-size: 1.2rem;
        letter-spacing: 0.05rem;
        word-spacing: 0.2rem;
        font-weight: 450;
    }
    .icon-container-flexbox {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: left;
        align-items: center;
        gap: 10px;
    }
    h2 {
        color: #03346E;
        letter-spacing: 0.075rem;
        font-size: 2.25rem;
        text-align: left;
        font-weight: 700;
        margin-bottom: 1.5rem;
    }
    .main-footer {
        gap: 3rem;
    }
    .main-footer > p {
        font-size: 0.5rem;
    }
    .phone-footer-icons {
        height: 35px;
    }
    .card-body .tag{
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 375px) {
    .nav-list {
        gap: 8px;
    }
    .nav-list a {
        font-size: 15px;
    }
    .flex-contact-icons > p {
        font-size: 0.9rem;
    }
    .icon-social-contact {
        display: none;
    }
    .title-content > h1 {
        font-size: 3rem;
    }
}

@media (max-width: 320px) {
    .nav-list {
        gap: 5px;
    }
    .nav-list a {
        font-size: 12.5px;
    }
    .title-content > h1 {
        font-size: 2.5rem;
    }
    .title-content > p {
        font-size: 0.8rem;
    }
    h1, h2, span {
        text-align: center;
    }
    p {
        font-size: 1rem;
        text-align: center;
    }
    .icon-container-flexbox {
        justify-content: center;
    }
    .flex-contact {
        text-align: center;
    }
}
